<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>输入一个问题</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter an question" required />
    <input type="submit" value="提交" />
  </form>
  {% if result %}
      <div class="result"><pre style="white-space:pre-wrap">{{ result }}</pre></div>
  {% endif %}
</body>
